html
{
    box-sizing: border-box;
    margin:0;
    border:none;
}
*,*::before,*::after{box-sizing: inherit;}
:root{font-size:62.5%;}
body
{
    background-color:#284D48;
    color:#E2E2E2;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#main
{
    position:absolute;
    top:0px;
    left:0px;
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    height:100vh;
    width:100%;
    text-align: center;
    grid-template-areas:
    "userScore userScore userScore"
    "leftD centerD rightD"
    "btnB btnB btnB"
    ;
}
#startgame
{
    position:absolute;
    top:40vh;
    left:45vw;
    width:20vh;
    height:10vh;
    padding-top:20px;
    font-size:2em;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.score
{
    grid-area: userScore;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width:100vw;
    height:5vh;
}
#curLevel:before
{
    content:"Current Level: ";
}
#curLevel
{
    visibility: hidden;
}
#reStart
{
    padding-left: 1px;
    padding-top: 1px;
    margin-top: 1vh;
    margin-left: 1vw;
    border-radius: 20%;
    visibility: hidden;
}
.center
{
    background-color: #AAAAAA;
    border:solid;
    border-radius:1%;
    display:grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
    grid-area: centerD;
    height:80vh;
    width:48vw;
    margin-left:2vw;
    margin-right:1vw;
}
.leftSide
{
    width:23vw;
    height:80vh;
    border-radius: 1% 1% 4% 4%;
    border:solid;
    margin-left:1vw;
    background-color:#6E7271;
    display:grid;
    grid-area:leftD;
    grid-template-columns: auto;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "highscore"
    "scores"
    ;
}
.leftSide>h1
{
    font-size: x-large;
    text-decoration: underline;
    width:22vw;
    
}
.numScore
{
    width:4vw;
}
table
{
    border-collapse: collapse;
}
tr
{
    border-color:#AAAAAA;
    border:solid;
    border-top:none;
    border-left:none;
    border-right:none;
}
tr:last-of-type
{
    border:none;
}
.uLevel::before
{
    padding-left:10px;
    content:"Level: ";
}
.uLevel
{
    border-left:solid;
    border-right:solid;
    text-align:left;
    font-size: 1.5em;
}
.uScores::before
{
    padding-left: 10px;
    content:"Score: ";
}
.uScores
{
    text-align:left;
    font-size: 1.5em;
}
#Htitle
{
    grid-area:highscore;
}
.scoreTable
{
    grid-area:scores;
    height:100%;
    padding:0;
}
.rightSide
{
    background-color:#6E7271;
    width:23vw;
    height:80vh;
    margin-right:1vw;
    text-align: center;
    border-radius: 1% 1% 4% 4%;
    border:solid;
    border-color:white;
    display:grid;
    grid-area:rightD;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "lives lives lives"
    ". title1 ."
    ". des ."
    ". title2 ."
    ". des1 ."
    ;
}
.rightSide>h1
{
    grid-area:title1;
    text-decoration: underline;
    font-size: xx-large;
    padding:0;
    margin:0;
}
.rightSide>h3
{
    grid-area: title2;
    font-size:x-large;
    text-decoration: underline;
    padding:0;
    margin:0;
}
.d1
{
    grid-area: des;
    font-size: medium;
    margin:0;
    padding:0;
}
.d2
{
    grid-area: des1;
    font-size: medium;
    margin:0;
    padding:0;
}
.buttonBar
{
    visibility: hidden;
    display:grid;
    grid-area:btnB;
    height:12vh;
    width:100vw;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    ". a a ."
    ". c d ."
    ". b b ."
    ;
}
button:hover
{
    background-color:white;
}
button
{
    border-radius: 44%;
    background-color:#D8D4D5;
    border-color:#6E7271;
    border-width:0.25vw;
    color:black;
    width:8vw;
    font-size: 1.5em;
}
.gUp
{
    grid-area:a;
    height:5vh;
    position:absolute;
    left:46vw;
    bottom:8vh;
}
.gDown
{
    grid-area:b;
    height:5vh;
    position:absolute;
    left:46vw;
    bottom:1vh;
}
.gLeft
{
    grid-area:c;
    height:5vh;
    position:absolute;
    left:36vw;
    bottom:4vh;
}
.gRight
{
    grid-area:d;
    height:5vh;
    position:absolute;
    left:56vw;
    bottom:4vh;
}
.Wall
{
    background-color:black;
    width:100%;
    height:100%;
}
.Path
{
    background-color: #D8D4D5;
    width:100%;
    height:100%;
    border:solid;
    border-color:#6E7271;
}
.Player
{
    background-position: center;
    width:100%;
    height:100%;
    background-image: url("../images/orc.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: floating 2s linear infinite;
}
.Ghoul
{
    background-position: center;
    width:100%;
    height:100%;
    background-image: url("../images/ghoul.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotating 2s linear infinite;
}
@keyframes floating
{
    50%{transform: translateY(-20%);}
    100%{transform: translateY(0px);}
}
@keyframes rotating 
{
    25%{transform: rotate(-10deg);}
    50%{transform: rotate(0deg)}
    75%{transform: rotate(10deg);}
    100%{transform: rotate(0deg)}
}
@keyframes pulsing 
{
    25%{transform: scale(0.6);}
    50%{transform: scale(1);}
    75%{transform: scale(0.6);}
    100%{transform: scale(1);}
}
.pPoint
{
    background-position: center;
    width:100%;
    height:100%;
    background-image: url("../images/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: pulsing 5s linear infinite;
}
.health
{
    visibility: hidden;
    display:grid;
    grid-area: lives;
    background-color:#7D1D3F;
    width:100%;
    height:3vh;
    text-align:center;
    border-radius: 7% 7% 0% 0%;
}
.health>p
{
    color:white;
    margin:0;
    padding:0;
    top:0px;
}
#curScore::before
{
    content:"Score:";
}
#curScore
{
    visibility: hidden;
    margin-right: 1vw;
}