html
{
    box-sizing: border-box;
    margin:0;
    border:none;
}
*,*::before,*::after{box-sizing: inherit;}
:root{font-size:62.5%;}
#main
{
    position:absolute;
    top:0px;
    left:0px;
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    height:100vh;
    width:100%;
    text-align: center;
    grid-template-areas:
    "userScore userScore userScore"
    "leftD centerD rightD"
    "btnB btnB btnB"
    ;
}
#startgame
{
    position:absolute;
    top:40vh;
    left:37%;
    height:10vh;
    padding-top:20px;
    font-size:2em;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border:solid;
    border-color:green;
}
#startgame:hover
{
    background-color:green;
    color:white;
}
.score
{
    grid-area: userScore;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width:100vw;
    height:5vh;
}
#curLevel:before
{
    content:"Current Level: ";
}
.score>button
{
    width:10%;
}
.center
{
    background-color: silver;
    display:grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
    grid-area: centerD;
    height:80vh;
    width:48vw;
    margin-left:1vw;
    margin-right:1vw;
}
.leftSide
{
    border:solid;
    border-color:black;
    display:grid;
    grid-area:leftD;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    width:25vw;
    height:80vh;
}
.rightSide
{
    width:23vw;
    height:80vh;
    margin-right:1vw;
    border:solid;
    border-color:black;
    text-align: center;
    display:grid;
    grid-area:rightD;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    ". title1 ."
    ". des ."
    ". title2 ."
    ". des1 ."
    ;
}
.rightSide>h1
{
    grid-area:title1;
    text-decoration: underline;
    font-size: xx-large;
    padding:0;
    margin:0;
}
.rightSide>h3
{
    grid-area: title2;
    font-size:x-large;
    text-decoration: underline;
    padding:0;
    margin:0;
}
.d1
{
    grid-area: des;
    font-size: medium;
    margin:0;
    padding:0;
}
.d2
{
    grid-area: des1;
    font-size: medium;
    margin:0;
    padding:0;
}
.buttonBar
{
    visibility: hidden;
    display:grid;
    grid-area:btnB;
    height:12vh;
    width:100%;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    ". a a ."
    ". c d ."
    ". b b ."
    ;
}
button
{
    display:flex;
    justify-self: center;
    justify-content: center;
    text-align:center;
    width:25vw;
}
.gUp
{
    grid-area:a;
}
.gDown
{
    grid-area:b;
}
.gLeft
{
    grid-area:c;
}
.gRight
{
    grid-area:d;
}
.Wall
{
    background-color:black;
    width:100%;
    height:100%;
}
.Path
{
    background-color: silver;
    width:100%;
    height:100%;
    border:solid;
}
.Player
{
    background-color:green;
    border-radius: 50%;
    width:100%;
    height:100%;
    border:solid;
}
.pPoint
{
    background-color:yellow;
    border-radius: 50%;
    width:60%;
    height:60%;
    border:solid;
    margin-top:15%;
    margin-left:20%;
}
.Ghoul
{
    background-color:red;
    border-radius: 50%;
    width:100%;
    height:100%;
    border:solid;
}
#curScore::before
{
    content:"Score:";
}
#curScore
{
    margin-right: 1vw;
}